* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url('img/wallA.png');
  background-repeat: no-repeat;
  min-height:100%;
}

.barra{
    margin-bottom: 20px !important;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
#nombreUser{
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #FFD700;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.7) !important;
  border-radius: 10px !important;
  color: #fff !important;
  box-shadow: 0 15px 25px rgba(0,0,0,0.5) !important;  overflow-x: hidden;
  padding-top: 20px;
}
#iconosalir{
    margin-left: 15px;
    margin-right: 10px;
}

#imgSide {
 margin: 23px;
  width: 150px;
  background: rgba(255,255,255, 0.8);
  border-radius: 50%;
}
.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}
.ffd  {
  border: none !important;
  background: rgba(0,0,0,0.7) !important;
  border-radius: 10px !important;
  color: #fff !important;
  padding-top: 20px;
    outline: none !important;
  background-color: transparent !important;
  color: inherit !important;
  box-shadow: none !important;
  text-shadow: none !important;
}


.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  padding: 40px;
  color:white;
  
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

