* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin-top: 140px;
  margin-bottom: 20px;
  background: url('img/wallA.png') no-repeat center;
  background-size: cover;
  font-family: sans-serif;
}
div.ui-growl {
   left: 50%;
   right: 0;
   margin-left:-150px;
}
.login-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  position: relative !important;
  width: 100% !important;
  max-width: 380px !important;
  padding: 80px 40px 40px !important;
  background: rgba(0,0,0,0.7) !important;
  border-radius: 10px !important;
  color: #fff !important;
  box-shadow: 0 15px 25px rgba(0,0,0,0.5) !important;
}



.form img {
  position: absolute;
  top: -130px;
  left: calc(50% - 98px);
  width: 200px;
  background: rgba(255,255,255, 0.8);
  border-radius: 50%;
}
.form h2 {
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  color: #FFD700;
}
.form .input-group {
  position: relative !important;
}
.form .input-group input {
  width: 100% !important; 
  padding: 10px 0 !important;
  font-size: 1rem !important;
  letter-spacing: 1px !important;
  margin-bottom: 30px !important;
  border: none !important;
  border-bottom: 1px solid #fff !important;
  outline: none !important;
  background-color: transparent !important;
  color: inherit !important;
  box-shadow: none !important;
  text-shadow: none !important;
}
.form .input-group label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 1rem;
  pointer-events: none;
  transition: .3s ease-out;
}
.form .input-group input:focus + label,
.form .input-group input:valid + label {
  transform: translateY(-18px);
  color:#FFD700;
  font-size: .8rem;
}
.submit-btn {
  background-color: #FFD700 !important;
  color: black !important;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 20px !important;
  box-shadow: none !important;
  text-shadow: none !important;
  border-style: hidden !important;
}

.submit-btn2 {
  background-color: #8a2025 !important;
  color:  #FFD700 !important;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 20px !important;
  box-shadow: none !important;
  text-shadow: none !important;
  border-style: hidden !important;
}
.barra{
    margin-bottom: 20px !important;
}

.parteF{
    display: inline;
    margin-right: 80px;
}
.enlace{
    text-align: right;
    margin-right: 0px;
    display: inline;
    color: #FFD700;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

